/* YOUR STYLING HERE */

span {
  margin-right: 1.5rem;
}

button {
  margin-top: 1.5rem;
  margin-right: 7rem;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.grey {
  color: $grey;
}

.callout.secondary {
  background-color: $light-grey;
}
